/* Navbar container */
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
.navbar {

    overflow: auto;
    font-family: Lato, Arial Narrow, Arial, sans-serif;
    background-color: green;
    list-style-type: none;
  }
  
  /* Links inside the navbar */
  .navbara {
    float: left;
    background-color: green;
    text-decoration-color: white;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 14px;
    text-decoration: none;
    list-style-type: none;
  }
  .navbara a, .navbarc a{
      text-decoration: none;
      font-family: Lato, Arial Narrow, Arial, sans-serif;
      color: white;
      text-decoration-color: white;
  }
  .navbarc {
    float: right;
    background-color: green;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 14px;
    text-decoration: none;
    list-style-type: none;

  }
  .navbarb {
    float: left;
    background-color: green;

    font-size: 16px;
    font-weight: bolder;    
    color: white;
    text-align: center;
    padding: 14px 14px;
    text-decoration: none;
    list-style-type: none;

  }
  
  /* The dropdown container */
  .dropdown {
    position: inherit;
    float: left;
    background-color: green;
    font-size: 16px;
    color: white;
    border: 0ch;
    text-align: center;
    padding: 7px 10px;
    text-decoration: none;
    list-style-type: none;
  }
  
  /* Dropdown button */
 
  
  /* Add a red background color to navbar links on hover */
  .navbara:hover, .dropdown:hover, .navbarc:hover  {
    background-color: rgb(9, 151, 9);
  }
  
  /* Dropdown content (hidden by default) */
  .dropdowncnt {
    background-color: green;
    float: center;
    min-width: 150px;
    padding: 12px 16px;
    text-decoration: none;
    text-align: center;
    display: none;
  }

  
  
  /* Add a grey background color to dropdown links on hover */
  .dropdowncnt:hover {
    background-color: rgb(9, 151, 9);
    display: block;
  }
 